<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<tx:annotation-driven />

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver"></property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/springjdbc"></property>
		<property name="username" value="root"></property>
		<property name="password" value="root123"></property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<!-- class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean" -->

		<property name="dataSource" ref="dataSource"></property>
		<property name="annotatedClasses">
			<list>
				<value>com.virtusa.Student</value>
				<value>com.virtusa.College</value>
			</list>
		</property>
		<!-- <property name="mappingResources"> <list> <value>Employee.hbm.xml</value> 
			</list> </property> -->

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
				<prop key="hibernate.show_sql">true</prop>

			</props>
		</property>
	</bean>
	<!-- <bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean> -->
	<bean id="template"
		class="org.springframework.orm.hibernate4.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
		<!-- <property name="checkWriteOperations" value="false"></property> -->
	</bean>
	<bean id="stdDao" class="com.virtusa.StudentDao">
		<property name="template" ref="template"></property>
	</bean>
	<bean id="college" class="com.virtusa.College">
		<property name="collegeId" value="11"></property>
		<property name="collegeName" value="Geca"></property>
	

	</bean>
	<bean id="std" class="com.virtusa.Student">
		<property name="studentId" value="101"></property>
		<property name="studentName" value="Mohan"></property>
		
		<property name="college" ref="college"></property>

	</bean>
 <bean id="std1" class="com.virtusa.Student">
		<property name="studentId" value="102"></property>
		<property name="studentName" value="Guru"></property>
		
		<property name="college" ref="college"></property>

	</bean>







</beans>